<%- include('partials/header') %>
<div class="container">
<form class="form-cadastro">  
  <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
  <a class="btn btn-lg btn-primary btn-block" href="/register" role="button">Registrar</a>
  <a class="btn btn-lg btn-primary btn-block" href="/login" role="button">Logar</a> 
</form>
</div>
<%- include('partials/footer') %>